section.repository-list {
  margin: 2.5rem 30.375rem 3.75rem 15rem;

  h1 {
    margin-top: 6.25rem;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.641rem;
  }

  form.searchRepo {
    width: 44.625rem;
    height: 4.5rem;

    margin-top: 2.5rem;
    margin-bottom: 7.5rem;

    border-radius: 0.313rem;

    input {
      width: 70%;
      height: 100%;
      background-color: #fff;
      border: 0;
      border-radius: 0.313rem 0 0 0.313rem;
      color: #121214;
      font-size: 1.25rem;
      padding-left: 1.813rem;
    }

    input::placeholder {
      color: #a8a8b3;
    }

    button {
      width: 30%;
      height: 100%;
      background-color: #04d361;
      border: 0;
      border-radius: 0 0.313rem 0.313rem 0;
      cursor: pointer;
      font-weight: 700;
      font-size: 1.125rem;
      color: #fff;
    }
  }

  a.repository-item {
    width: 44.625rem;
    height: 7rem;

    border-radius: 0.313rem;

    background-color: #fff;

    padding: 0 2%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    text-decoration: none;

    & + a {
      margin-top: 20px;
    }

    div {
      display: flex;
      align-items: center;

      img {
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
      }

      div {
        display: inline-block;
        margin-left: 1.5rem;
        strong {
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 1.758rem;
          color: #3d3d4d;
        }

        p {
          margin-top: 0.25rem;
          font-size: 1.125rem;
          font-weight: 400;
          line-height: 1.318rem;
          color: #a8a8b3;
        }
      }
    }
  }
}
